.car-loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  pointer-events: none;
}

.car-loading {
  width: 100px;
  animation: driveAcross 4s ease-in-out infinite;
  position: relative;
  bottom: 120px;
}

@keyframes driveAcross {
  0% {
    transform: translateX(-150%);
  }
  40% {
    transform: translateX(50vw);
  }
  60% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(150vw);
  }
}
