/* Dashboard Page Styles */

.dashboard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  background: var(--color-primary);
}

.dashboard-header {
  text-align: center;
  margin-bottom: 3rem;
  animation: fadeInUp 1s ease forwards;
}

.dashboard-header h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: var(--color-light);
}

.dashboard-header p {
  color: var(--color-light);
}

/* Add Car Form */
.add-car-form {
  background: var(--color-white);
  padding: 2rem;
  width: 80%;
  align-self: center;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  margin-bottom: 4rem;
  animation: fadeInUp 1s ease forwards;
  animation-delay: 0.2s;
}

.add-car-form h2 {
  margin-bottom: 1.5rem;
  color: var(--color-primary-dark);
}

.add-car-form form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.add-car-form input {
  flex: 1 1 20px;
  padding: 0.75rem;
  border: 1px solid var(--color-primary);
  background: var(--color-white);
  color: var(--color-primary);
  border-radius: 8px;
  font-size: 1rem;
}

.add-car-form .image-upload-section {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.image-preview-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px 0;
}

.image-preview-item {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--color-primary-dark);
  padding: 2px 10px;
  border-radius: 6px;
  background-color: #f8f8f8;
  position: relative;
}

.thumbnail {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.filename {
  flex-grow: 1;
  font-size: 0.9rem;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.remove-button {
  background: none;
  border: none;
  color: #c00;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-car-form .image-upload-section .upload-input button {
  flex: 1 1 20px;
  padding: 0.75rem;
  border: 1px solid var(--color-primary);
  background: var(--color-white);
  color: var(--color-primary);
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  width: 150px;
}

.add-car-form .image-upload-section .upload-input input {
  display: none;
}

.submit-button {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 1 1 100%;
  margin-top: 1rem;
}

.submit-button:hover {
  background-color: var(--color-primary-dark);
}

.error-message {
  margin-top: 1rem;
  color: red;
}

/* Car List */

.cars-list {
  padding: 4rem 5%;
  background-color: var(--color-primary-light);
  opacity: 0;
  animation: fadeInUp 1s ease forwards;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.cars-list .title-search-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.cars-list .title-search-wrapper h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-light);
}

.cars-list .title-search-wrapper input {
  flex: none;
}
/* Animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .add-car-form form {
    flex-direction: column;
  }

  .cars-list .title-search-wrapper {
    flex-flow: column;
    margin: 0.5rem 0;
  }

  .cars-list .title-search-wrapper h2 {
    margin: 0;
    margin-bottom: 1rem;
  }

  .cars-list .title-search-wrapper input {
    width: 80%;
  }
}
